<%- include('./partials/header.ejs')%>
    <main id = "Website-Intro">
        <div id = "Website-Intro-Text">
            <h1>NinerBay</h1>
        </div>
    </main>
<%- include('./partials/footer.ejs')%>   