<%- include('./partials/header.ejs') %>
<main id="website-intro" class="container">
    <div id="website-intro-text">
        <h1>Welcome to NinerBay</h1>
        <p>Your one-stop marketplace for buying and selling within the UNC Charlotte community.</p>
        <a href="/listings" class="button primary-btn">Browse Listings</a>
        <a href="/listings/new" class="button secondary-btn">Sell an Item</a>
    </div>
</main>
<%- include('./partials/footer.ejs') %>