<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NinerBay</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.classless.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <a href="/" class="logo-link">
            <img src="/images/Logo.png" alt="NinerBay Logo" class="logo">
            <span class="site-name">NinerBay</span>
        </a>
        <form action="/listings" class="search-bar">
            <input type="text" class="search-input" name="search" placeholder="Search listings...">
        </form> 
        <nav class="nav-links">
            <ul>
                <li><a href = "/listings">Browse</a></li>
                <li><a href = "/listings/new">Sell</a></li>
                <%if(!user){%>
                    <li><a href='/accounts/signup'>Sign Up</a></li>
                    <li><a href='/accounts/login'>Login</a></li>
                <%}else{%>
                    <li><a href='/accounts/logout'>Logout</a></li>
                <%}%>
            </ul>
        </nav>
    </header>
    <%if(errorMessages.length > 0){
        errorMessages.forEach(message=>{%>
            <div class="error"><%=message%></div>
        <%});
    }%>
    <%if(successMessages.length > 0){
        successMessages.forEach(message=>{%>
            <div class="success"><%=message%></div>
        <%});
    }%>