<%- include('../partials/header.ejs') %>
<main class="login-page">
    <div class="form-container">
        <h2>Login</h2>
    </div>
    <form action="/accounts/check" method="POST" class="form-container">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="text" id="password" name="password" required>

        <button type="submit" class="submit-btn">Submit</button>
    </form>
    <div class="popup" >
        <span class="popuptext" id="success">You are logged in</span>
      </div>
</main>
<%- include('../partials/footer.ejs') %>