<%- include('../partials/header.ejs') %>
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1750">
    <div class="cs-container">
        <div class="cs-form-group">
            <!--Form-->
            <form name="Contact Form" method="post">
                <label>
                    <p style="color: #333333;"> User Name: </p>
                    <input  required type="text" id="" name= "name" placeholder="John Doe">
                </label>
                <label>
                   <p style="color: #333333;"> Email:  </p>
                    <input  required type="email" id="" name="email" placeholder="name@company.com">
                </label>
                <label>
                    <p style="color: #333333;"> Password: </p>
                    <input  required type="email" id="" name="email" placeholder="name@company.com">
                </label>
          
                <button type="submit"> Create Account</button>
            </form>
        </div>
       


</section>
                                
<%- include('../partials/footer.ejs') %>
