<%- include('../partials/header.ejs') %>
<main class="Sell-Page container">
    <div class="Sell-Description">
        <h2><strong>SELL THROUGH NinerBay</strong></h2>
        <p>If you have an item you wish to sell through us, simply take a picture of your item, fill out the form, and click submit—boom, you have a listing!</p>
    </div>

    <form action="/listings" method="POST" class="Sell-Form" enctype="multipart/form-data">
        <label for="condition">Condition:</label>
        <select id="condition" name="condition">
            <option value="New">New</option>
            <option value="Like New">Like New</option>
            <option value="Good">Good</option>
            <option value="Fair">Fair</option>
            <option value="Poor">Poor</option>
        </select>
    
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
    
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" min="0" step="0.01" required>
    
        <label for="details">Details:</label>
        <textarea id="details" name="details" rows="4" required></textarea>

        <label for="seller">Seller:</label>
        <input type="text" id="seller" name="seller" required>
    
        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*" required>
    
        <button type="submit" class="submit-btn mov-submit">Submit</button>
    </form>
</main>
<%- include('../partials/footer.ejs') %>