<footer>
    <p>©NinerBay</p>
    <div id = "Social-Media">
        <a href = "https://github.com/harrisonhavm"> <i class="fa-brands fa-github"></i></a>
        <a href = "https://www.linkedin.com/in/harrison-havmoeller-4056a41b5/"><i class="fa-brands fa-linkedin"></i></a>
        <a href = "https://www.facebook.com/harrison.havmoeller/"><i class="fa-brands fa-facebook"></i></a>
        <a href = "https://www.instagram.com/harrisonhavmoeller/"><i class="fa-brands fa-square-instagram"></i></a>
    </div>
</footer>
</body>
</html>