<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NinerBay</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel ="stylesheet">
    <link rel="stylesheet" href="/css/Project1.css">
</head>
<body>
    <header>
        <a href = "/">
            <img src = "images/Logo.png" alt = "NinerBay">
        </a>
        <form action="/listings" class="searchBar">
            <input type="text" class="search-input" name="search" placeholder="Search">
        </form> 
        <nav>
            <ul>
                <li><a href = "/listings">Browse</a></li>
                <li><a href = "/listings/new">Sell</a></li>
                <li><a href = #>Login</a></li>
                <li><a href = #>Sign Up</a></li>

            </ul>
        </nav>
    </header>