<%- include('../partials/header.ejs') %>
<main class="login-page">
    <div class="form-container mov-signup1 ">
        <h2>Login</h2>
    </div>
    <% if (errorMessages) { %>
        <div class="error"><%= errorMessages %></div>
    <% } %>
    <form action="/accounts/login" method="POST" class="form-container mov-signup2 form-container-height">
       
       <div class = "mov-login-input">
        
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="text" id="password" name="password" required>

        <button type="submit" class="submit-btn">Submit</button>

      </div>

    </form>
    <div class="popup" >
        <span class="popuptext" id="success">You are logged in</span>
      </div>
</main>
<%- include('../partials/footer.ejs') %>