:root {
    --clr-primary:#005035;
    --clr-neutral:#A49665;
    --clr-white:#FFFFFF;
    --fs-h1: 8rem;
    --fs-h2: 2.074rem;
    --fs-h3: 1.728rem;
    --fs-h4: 1.44rem;
    --fs-h5: 1.2rem;
    --fs-h6: 1rem;
    --fs-small: .833rem;

}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gabarito', cursive;
    color: var(--clr-white);
    font-size: var(--fs-h6);
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--clr-primary);

}

h1{
    font-size: var(--fs-h1);
    font-weight: 800;
}

h2{
    font-size: var(--fs-h2);
    font-weight: 500;
}

h3{
    font-size: var(--fs-h3);
}

h4{
    font-size: var(--fs-h4);
}

h5{
    font-size: var(--fs-h5);
}

h6{
    font-size: var(--fs-h6);
}

p{
    max-width: 80ch;
    min-width: 40ch;
}

body, h3, h4, h5, h6{
    font-weight: 400;
}
.wrapper{
    flex: 1;
    background-color: var(--clr-primary);
}
#Website-Intro{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh; 
    align-items: center;
    display: flex;
}
#Website-Intro-Text{
    color: var(--clr-neutral);
    background-color: var(--clr-primary);
    text-align: center;
    width: 40%;
    margin:auto;
    align-self: center;
    display: flex;
    flex-direction: column;
}


img{
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
}

header{
    background-color: var(--clr-neutral);
    text-decoration: none;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: 200px;
    width: auto;
    align-items: center;
    display: flex;
}
.item-listings {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    width: 300px;
    margin: 10px;
    display: flex;
}
.item-listings:nth-child(5){
    width: 225px;
    height: 225px;
}
.item a {
    text-decoration: none;
    color: var(--clr-neutral)
}

.item img {
    max-width: 100%;
    height: auto;
}
.item-details {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    align-items: center;
    font-size: 1.8em;
}
.item-details:after {
    content: "";
    display: table;
    clear: both;
  }

.item-image, .item-info {
    flex: 1;
    float: left;
    width: 50%;
    padding: 10px;
}

.item-image {
    width:max-content;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.item-image img{
    width: -webkit-fill-available;
}

.item-info {
    margin-left: 20px;
}

.buttons button {
    background-color: var(--clr-neutral);
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
}

.search-input {
    height: 40px;
    font-size: 30px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-left: 10px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: none;
    border-radius: 40px;
    width: -webkit-fill-available;

  }
nav{
    display: flex;
    white-space: nowrap;
}
a{
    text-decoration: none;
    color:var(--clr-white);
}
nav a {
    text-decoration: none;
    font-size: var(--fs-h3);
    font-weight: 500;
    color:var(--clr-white);
}

nav ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
}

nav a:hover,
nav a:active{
    border-bottom: 3px solid var(--clr-primary) 
}

main{
    background-color: var(--clr-primary);
    display: flex;
}
#V1, #V2, #V3, #V4, #V5, #V6{
    background-color: var(--clr-neutral);
    display: flex;
    gap: 1rem;
}


form{
    background-color: var(--clr-primary);
    padding: 2rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 4px;
}
.Sell-Page {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.Sell-Description,
.Sell-Form {
    flex: 1;
}

.Sell-Description {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 150%;
}

.Sell-Form {
    margin-left: 20px;
    max-width: 600px;
    background-color: var(--clr-neutral);
    margin: 20px 50px;
}

.Sell-Page h2 {
    text-align: center;
}

label {
    margin-bottom: 5px;
}

select, input, textarea, button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}


footer{
    background-color: var(--clr-white);
    color: var(--clr-neutral);
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}
.edit-btn, .delete-btn{
    background-color: var(--clr-neutral);
    border-radius: 40px;
    padding: 10px;
    border-radius: 40px;
    font-size: 18px;
}
.edit-btn:hover, .delete-btn:hover{
    background-color: #45a049;
}
.edit-btn{
    margin-right: 10px;
}

footer a{
    color: var(--clr-neutral75);
    text-decoration: none;
}
footer p{
    font-size: xx-large;
}
#Social-Media{
    font-size: xx-large;
    justify-content: end;
    display: flex;
    gap: 1em;
}